<!--
@{
    Layout = "_Layout";
}
-->
<div>
<h1>Sono la view per l'action Detail dell'HomeController</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellat optio eos amet enim temporibus tempore, praesentium ea necessitatibus. Unde dolorum ipsum incidunt numquam culpa architecto facilis esse rem voluptas?</p>
<p>Maxime minus aperiam dolor aspernatur, magnam expedita itaque sapiente dolores harum molestias, fugiat distinctio voluptatibus mollitia illum, iste repudiandae repellat blanditiis debitis voluptates sint incidunt! Possimus maiores quas quos in.</p>
<p>Iusto ipsum, laborum facilis minima quasi a consectetur. Amet expedita numquam explicabo odit doloribus inventore veritatis itaque corporis beatae culpa. Accusamus maxime harum sed vel praesentium hic quaerat, atque temporibus.</p>
<p>Assumenda placeat alias ipsum dolor adipisci, culpa voluptates iure deserunt suscipit voluptatem sint nihil perferendis quaerat est? Perferendis necessitatibus quaerat ducimus atque reprehenderit, ratione expedita! Vel, adipisci facere. Minima, maxime!</p>
<p>Hic facere numquam adipisci voluptate commodi similique! Assumenda accusamus pariatur, exercitationem quaerat voluptatibus sequi beatae corporis laudantium, alias inventore voluptatum praesentium labore tempore? Pariatur veniam vel velit iure molestiae aperiam.</p>
</div>

